@charset "UTF-8";
/* CSS Document */
*{

	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}
.gwidth{
	width: 1007px;
	margin: 0 auto;
}
.clearfix:after{
		content:"";
		clear:both;
		display: block;
	}
.blur {    
    -webkit-filter: blur(1px); /* Chrome, Opera */
       -moz-filter: blur(1px);
        -ms-filter: blur(1px);    
            filter: blur(1px);    
}
.box{
	width: 640px;
	height: 1136px;
	margin: 30px auto;
	background-color: #161616;
}
	.top{
		width: 640px;
		height: 433px;
		position: relative;
	}
		.i1{
			width: 640px;
			height: 433px;
			z-index: 5;
		}
		.i2{
			position: absolute;
			left: 0;
			top: 0;
		}
		.t1{
			width: 640px;
			height: 93px;
			opacity: 0.5;
			position: absolute;
			left: 0;
			top: 34px;
			z-index: 3;
			background: url(../img/a11.png) no-repeat 20px 35px,url(../img/a.png) no-repeat 570px 35px, #161616;;
		}
			.t1 p{
				z-index: 1;
				font-size: 36px;
				line-height: 93px;
				text-align: center;
				color: #fff;
			}
		.t2 img{
			width: 146px;
			height: 146px;
			border-radius: 50%;
			position: absolute;
			left: 25px;
			bottom: -12px;
		}
		.l1{
			z-index: 1;
			font-size: 30px;
			color: #fff;
			display:-webkit-box;
			position: absolute;
			bottom: 70px;
			right: 10px;
		}
			.l1 li{
				margin-right: 70px;
			}
		.l2{
			z-index: 1;
			font-size:20px;
			color: #fff;
			display:-webkit-box;
			position: absolute;
			bottom: 35px;
			right: 0;
		}
			.l2 li{
				margin-right: 50px;
			}
	.center{
		width: 100%;
		height: 605px;
	}
		.ct{
			margin-top: 17px;
			border-bottom: 1px solid #2E2E2E;
		}
			.ct1 ul{
				display:-webkit-box;
			}
			.ct1 li{
				height: 60px;
				width: 33.5%;
				line-height: 60px;
				border: 1px solid #2E2E2E;
				border-radius: 8px;
				color: #fff;
				cursor: pointer;
			}
				.li1{
			
					background:url(../img/a3.png) no-repeat 19px center;
					padding-left: 60px;
					margin-left:40px;
				}
				.li2{
			
					background:url(../img/a4.png) no-repeat 19px center;
					padding-left: 60px;
					margin-left:25px;
				}
			.ct2{
				margin-top: 33px;
			}
				.ct2 ul{
				display:-webkit-box;
				margin-bottom: 15px;
			}
				.ct2 li{
				height: 224px;
				width: 40%;
				margin-left:40px;
				display: inline-block;
				position: relative;
				}
				.ct2 img{
					width: 280px;
					height: 176px;
					border-radius: 4px;					
				}
				.ct2 span{
					width: 40px;
					height: 40px;
					display: inline-block;
					background-color: #fff;
					opacity: 0.5;
					position: absolute;
					left: 126px;
					bottom: 116px;
				}
				.ct2 a{
					width: 0; 
					height: 0; 
					display: inline-block;
					border-left: 12px solid #000; 
					border-right: 12px solid transparent; 
					border-bottom: 15px solid transparent; 
					border-top: 15px solid transparent; 
					opacity: 0.5;
					position: absolute;
					left: 140px;
					bottom: 120px;
					cursor: pointer;
				}
				.p1{
					font-size: 20px;
					color: #86AC64;
					margin-left: -8px;
				}
				.p2{
					font-size: 12px;
					color: #fff;
					float:left;
					margin-top: 5px; 
				}
				.p3{
					font-size: 12px;
					color: #fff;
					float:left;
					margin-left: 27px;
					margin-top: 5px; 
				}
		.cb{
			border-bottom: 1px solid #2E2E2E;
		}
			.cb h1,h2,h3{
				margin-left: 20px;
				cursor: pointer;
			}
				.cb h1{
					color: #fff;
				}
				.cb h2{
					color: #A7A7A7;
				}
				.cb h3{
					color: #606060;
				}
			.cb ul{
				display:-webkit-box;
				margin-top: 21px;
				margin-bottom: 42px;
				margin-left: 30px;
			}
			.cb li img{
				width: 61px;
				height: 61px;
				border-radius: 2px;
				margin-left: 10px;
			}
		.bottom ul{
			display:-webkit-box;
			margin-left: -44px;
			margin-bottom: 24px;
		}
			.bottom li{
				width: 54px;
				height: 58px;
				margin-left: 73px;
			}
			.bottom li img{
				border-radius: 2px;
				cursor: pointer;
			}

